.create-topic-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.create-topic-container .MuiFormControl-root {
  font-family: "Poppins";
}

.create-topic-container .MuiFormControl-root .MuiFormLabel-root {
  color: gray;
  font-family: "Poppins";
}
.create-topic-container
  .MuiFormControl-root
  .MuiFormLabel-root[data-shrink="true"] {
  background-color: white;
  color: #34418e;
  border-radius: 10px;
  padding: 5px;
  transition: all 500ms ease;
}

.create-topic-container
  .MuiFormControl-root:nth-last-child(1)
  .MuiInputBase-root {
  background-color: #f1f1f1;
}

.create-topic-container
  .MuiFormControl-root:nth-last-child(1)
  .MuiInputBase-root:hover {
  background-color: #dfdfdf;
}

.create-topic-container .MuiFormControl-root fieldset {
  border-radius: 10px;
}

.create-topic-container .MuiFormControl-root:nth-last-child(1) fieldset {
  border: none;
}

.create-topic-container .jodit-react-container {
  /* border: 1px solid red; */
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}

.create-topic-container .jodit-react-container .jodit-container {
  border: none;
}

.create-topic-container .jodit-container .jodit-toolbar__box {
  border: none;
}

.create-topic-container .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.create-topic-container .buttons .publish-btn,
.create-topic-container .buttons .close-btn {
  padding: 10px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.create-topic-container .buttons .publish-btn {
  background-color: #fdd41f;
  color: #34418e;
  border: none;
}

.create-topic-container .buttons .close-btn {
  background-color: transparent;
  color: lightgray;
  border: 1px solid lightgray;
}

.create-topic-container .buttons .publish-btn:hover {
  background-color: #34418e;
  color: #fdd41f;
}

.create-topic-container .buttons .close-btn:hover {
  background-color: lightgray;
  color: white;
}
