.reg_bg {
  display: flex;
  height: 100vh;
  background-color: #34418e;
}
.reg_bg .left {
  width: 50vw;
  height: 100vh;
}
.reg_bg .right {
  display: flex;
  background-color: white;
  width: 50vw;
  height: 100vh;
}
.reg_bg .right form {
  width: 70%;
  height: fit-content;
  margin: auto;
  text-align: center;
}

.reg_bg .right form h1 {
  font-weight: 700;
  font-size: 50px;
}
.reg_bg .right form input {
  background-color: #efeded;
  border-color: #c9c9c9;
}
.reg_bg .right form .btn_submit {
  width: 50%;
  background-color: #34418e;
  border-radius: 40px;
  border: none;
}
.reg_bg .right form p {
  font-size: 14px;
}
.reg_bg .right form a {
  text-decoration: none;
}
