/* new */

/* .browse-bg{

} */
/* .browse-bg {
  height: 100vh;
  background: linear-gradient(158deg, #4d758c, #000000, #263261);
  background-size: 600% 600%;

  animation: nud-bark 18s ease infinite;
} */

@keyframes nud-bark {
  0% {
    background-position: 42% 0%;
  }
  50% {
    background-position: 59% 100%;
  }
  100% {
    background-position: 42% 0%;
  }
}

.browse-container {
  flex: 4;
  /* border: 1px solid blue; */
}

/* side panel - right  */
.side-panel {
  border: 1px solid red;
  border-radius: 10px;
  flex: 1;
}
