.nav_bar {
  background-color: #34418e;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
.nav_bar h1 {
  height: fit-content;
  font-weight: bold;
  color: white;
}
.nav_bar ul {
  height: fit-content;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
.nav_bar ul a {
  text-decoration: none;
}
.nav_bar li {
  padding: 10px;
  list-style: none;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  align-items: center;
  transition: all 500ms ease;
}
.nav_bar li:hover {
  background-color: #212b5f;
}
.nav_bar li .active {
  background-color: #212b5f;
}
.nav_bar .username {
  color: white;
  font-weight: 400;
  font-size: medium;
}
