* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Roboto;
  }

  .app-container {
    display: flex;
    margin-top: 20px;
  }

  .side-nav {
    width: auto; 
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 60px; 
    border-bottom: 1px solid #ddd; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .side-nav-list {
    list-style: none;
    display: flex; 
    padding: 0;
    margin: 0;
  }
  
  .side-nav-list li {
    margin: 0 15px; 
  }
  
  .side-nav-list li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  
  .side-nav-list li a svg {
    margin-right: 10px; 
  }
  
  .side-nav-list li a:hover {
    background-color: #34418E;
    padding: 10px;
    border-radius: 20px;
    color: white;
  }
  
  .main-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .header-adminnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .logo h1 {
    font-size: 32px;
    color: #2c3e90;
    font-weight: bold;
  }
  
  .logo-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }

  .profile-and-search {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-bar {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .profile-info {
    text-align: left;
  }
  
  .username {
    font-weight: bold;
    display: block;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }

  .content-area {
    padding: 20px;
    background-color: #f4f6f9;
    flex: 1;
  }
  