/* Reset and Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Layout */
  .app-container {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar Section */
  .side-nav {
    width: 200px; 
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ddd; /* Light border on the right */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Light shadow on the right side */
  }
  
  
  .side-nav-list {
    list-style: none;
    padding: 0;
    margin-top: 30%;
  }
  
  .side-nav-list li {
    margin: 10px 0;
  }
  
  .side-nav-list li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    padding: 8px 0;
    margin-top: 5%;
    align-items: center;
  }
  
  .side-nav-list li a svg {
    margin-right: 10px; /* Add space between the icon and the text */
  }

  .side-nav-list li a:hover {
    background-color: #34418E;
    padding-left: 10px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
  }
  
  /* Main Content Section */
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  /* Header Section */
  .header-adminnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
  }
  
  /* Logo Section */
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .logo h1 {
    font-size: 32px; 
    color: #2c3e90;
    font-weight: bold;
  }
  
  .logo-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  /* Profile and Search Section */
  .profile-and-search {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-bar {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .profile-info {
    text-align: left;
  }
  
  .username {
    font-weight: bold;
    display: block;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  /* Content Area */
  .content-area {
    padding: 20px;
    background-color: #f4f6f9;
    flex: 1;
  }
  